firefox vim htop icewm xterm neofetch
less rclone mc git jdk11-openjdk openjdk11-src maven gradle
ttf-dejavu xcursor-vanilla-dmz papirus-icon-theme
xorg-xrandr brightnessctl xscreensaver python-gobject redshift
volumeicon bluez bluez-utils alsa-utils fluidsynth
scrot xorg-xev keepassxc rxvt-unicode xorg-xcalc
gimp audacity dosbox mame schismtracker
